<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Striped Progress bar</h4>

        <div class="progress m-t-20">
          <div
            class="progress-bar bg-info progress-bar-striped active"
            aria-valuenow="85"
            aria-valuemin="0"
            aria-valuemax="100"
            style="height: 10px"
            [style.width]="getValorA"
            role="progressbar"
          ></div>
          <!-- [style.width]="getPorcentaje" -->
        </div>

        <div class="progress m-t-20">
          <div
            class="progress-bar bg-primary progress-bar-striped active"
            aria-valuenow="85"
            aria-valuemin="0"
            aria-valuemax="100"
            style="height: 10px"
            [style.width]="getValorB"
            role="progressbar"
          ></div>
          <!-- [style.width]="getPorcentaje" -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador
          [progreso]="valorA"
          [btnClass]="'btn-info'"
          (nuevoValor)="valorA = $event"
        ></app-incrementador>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <app-incrementador
          [progreso]="valorB"
          [btnClass]="'btn-primary'"
          (nuevoValor)="valorB = $event"
        ></app-incrementador>
      </div>
    </div>
  </div>
</div>
