<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Mi Perfil de Usuario</h4>
        <h6 class="card-subtitle">Ajustes</h6>
        <form
          [formGroup]="profileForm"
          class="form p-t-20"
          (ngSubmit)="actualizarPerfil()"
        >
          <div class="form-group">
            <label>User Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input
                formControlName="nombre"
                type="text"
                class="form-control"
                placeholder="Username"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input
                formControlName="email"
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                placeholder="Enter email"
              />
            </div>
          </div>

          <button
            [disabled]="profileForm.invalid"
            type="submit"
            class="btn btn-success waves-effect waves-light m-r-10"
          >
            <i class="fa fa-save"></i>
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Avatar</h4>
        <h6 class="card-subtitle">Imagen del usuario</h6>
        <img [src]="usuario.imagenUrl" alt="Imagen Usuario" />
        <br />
        <br />
        <input class="form-control" type="file" />
        <br />
        <br />
        <button
          type="button"
          class="btn btn-success waves-effect waves-light m-r-10"
        >
          <i class="fa fa-save"></i>
          Cambiar imagen
        </button>
      </div>
    </div>
  </div>
</div>
